<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MZSQShop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>186994091C02E38D006D3C6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186994221C02E38D006D3C6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1869942D1C02E38D006D3C6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
